@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) { 
  .about-body {
    margin-top: 36rem;
  }
  .form {
    margin-top: 32rem;
  }
}
/* .about-body {
  margin-top: 36rem;
} */

.main {
  min-height: calc(100vh - 6rem);
}

.menu {
  animation: slide-in .3s linear;
}

.fade-in {
  animation: fade-in 3s;
}
.home-img {
  animation: fade-in 3s;
}
.fade-out {
  animation: fade-in 3s;
}
.about-img {
  animation: fade-in 3s;
}
.contact-img{
  animation: fade-in 2s;
}


.home-quote {
  animation: fade-in 5s;
}


@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
